
@media screen and (min-width: 320px) and (max-width: 480px){
    .divCarritoDesktop{ 
        display: none;
    }
    .contenedorCestaImagenMobile{
        padding: 0 !important;
    }
    /*TABLA CUSTOM*/
    .tdPedidos{
        border: 0 !important;
        padding: 0 !important;
    }
    .contenedorProductoCestaMobile{
        padding: 0 !important;
    }
    .cabeceraProductoCestaMobile{
        background-color: #4c4a4a;
        color: white;
        margin-bottom: 5%;
    }
    .divInfoProducto{
        text-align: right;
        margin-top: 5%;
        padding: 0;
    }
    .divIconoEliminar{
        margin-top: 1em;
        padding: 0;
    }
    .nombreProductoCesta{
        text-align: center;
    }
    .buttonBigCesta{
        padding-bottom: 2% !important;
        padding-top: 2% !important;
        width: 85%;
    }
    .divInferiorTotal{
        text-align: right;
    }
    .subdivInferiorTotal{
        display: inline-flex;
        padding-bottom: 0;
        padding-top: 0;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px){
    .divCarritoDesktop{ 
        display: none;
    }
    .contenedorCestaImagenMobile{
        padding: 0 !important;
    }
    /*TABLA CUSTOM*/
    .tdPedidos{
        border: 0 !important;
        padding: 0 !important;
    }
    .contenedorProductoCestaMobile{
        padding: 0 !important;
    }
    .cabeceraProductoCestaMobile{
        background-color: #4c4a4a;
        color: white;
        margin-bottom: 5%;
    }
    .divInfoProducto{
        text-align: right;
        margin-top: 5%;
        padding: 0;
    }
    .divIconoEliminar{
        margin-top: 1em;
    }
    .nombreProductoCesta{
        text-align: center;
    }
    .buttonBigCesta{
        padding-bottom: 2% !important;
        padding-top: 2% !important;
        width: 70%;
    }
    .divInferiorTotal{
        text-align: right;
        margin-top: 5%;
    }
    .subdivInferiorTotal{
        display: inline-flex;
    }
}
@media screen and (min-width: 1200px){
    .divCarritoMobile{
        display: none;
    }
    /*TABLA CUSTOM*/
    .trHeadPedidos{
        text-align: left;
    }
    .thHeadPedidos{
        border: 0 !important;
    }
    .thHeadPedidosRight{
        border: 0 !important;
        text-align: right;
        width: 15%;
    }
    .trPedidos{
        height: 120px;
    }
    .tdPedidos{
        border: 0 !important;
    }
    .tdPedidosRight{
        border: 0 !important;
        text-align: right;
        width: 15%;
        padding: 0 !important;
    }
    .nombreProductoCesta{
        margin-left: 4%;
    }
    .buttonBigCesta{
        padding-bottom: 2% !important;
        padding-top: 2% !important;
        width: 70%;
    }
    .divInferiorTotal{
        text-align: right;
        margin-top: 5%;
    }
    .subdivInferiorTotal{
        display: inline-flex;
    }
}



.tituloSubTotal{
    width: 100%;
}
.tituloTotal{
    width: 100%;
    font-size: 18px;
}
.importeTotal{
    font-size: 18px;
}
.totalPedido{
    //margin-bottom: 2%;
}

.contenedorCestaImagen{
    display: inline-flex;
    width: 100%;
}

.divButtonPagoCesta{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100%;
}

:host ::ng-deep .iconoEliminar span.ui-button-icon-left.ui-clickable.pi.pi-trash{
    transform: scale(.7) !important;
}