<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<div *ngIf="blockedDocument" class="loadingSpinner">
    <p-progressSpinner [style]="{width: '150px', height: '150px'}" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
</div>
<div class="ui-g" class="contenedorPrincipalProductos" *ngIf="(productLoaded | async)">
    <div class="ui-g-12 ui-md-2 contenedorFiltrosLateral">

       <!--  <p-tree [value]="filtrosTree"></p-tree> -->
       <div>
            <div class="ui-g-12" *ngIf="treeMenuDisplay">
                <h3>{{'categoria' | translate}}</h3>
                <hr>
                <p-tree [value]="primerNivelTree" selectionMode="single" [(selection)]="selectedMenuNode"
                (onNodeSelect)="nodeSelect($event)" styleClass="menuLateral"></p-tree>
                <div style="margin-top:8px">Selected Node: {{selectedMenuNode ? selectedMenuNode.key : 'none'}}</div>
            </div>
            <div class="ui-g-12 divRangoPrecios">
                <h3>{{'precio' | translate}}</h3>
                <hr>
                <h3>{{rangePriceValues[0] + '€ - ' + rangePriceValues[1]+'€'}}</h3>
                <p-slider [(ngModel)]="rangePriceValues" [style]="{'width':'14em'}" [range]="true" (onSlideEnd)="filtrarPorPrecio()"></p-slider>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-md-10 ui-g-nopad">
        <p-dataView #dv [value]="products" [paginator]="true" [rows]="20" paginatorPosition="bottom" filterBy="nombre"
            [sortField]="sortField" [sortOrder]="sortOrder">
            <p-header>
                <div class="ui-helper-clearfix">
                    <div class="ui-g">
                        <div class="ui-g-12 ui-md-4">
                            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Ordenar por" (onChange)="onSortChange($event)" [style]="{'min-width':'140px'}"></p-dropdown>
                        </div>
                        <div class="ui-g-6 ui-md-4 filter-container">
                            <div style="position:relative">
                                <input type="search" pInputText placeholder="Buscar por nombre" (input)="dv.filter($event.target.value)">
                            </div>
                        </div>
                        <div class="ui-g-6 ui-md-4" style="text-align:right">
                            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
                        </div>
                    </div>
                </div>
            </p-header>




            <ng-template let-product pTemplate="listItem">
                <div class="ui-g-6 ui-md-4 panelGeneralProducto" (click)="selectProductDetail($event, product)">
                    <div class="car-details">
                        <div>
                        <div class="ui-g-4 divImagenProducto">
                            <img src="http://127.0.0.1:8887/{{product?.fotos[0].ruta}}" class="imagenProducto">
                        </div>
                        <div class="ui-g-12">
                            <div class="ui-g">
                                <div class="ui-g-12"><b>{{product.nombre}}</b></div>
                                <div class="ui-g-12"><b>{{product.descripcion.titulo}}</b></div>
                                <div class="ui-g-12"><b>{{product.precio | number:'1.2-2'}} €</b></div>
                                <div class="ui-g-12"><p-rating [ngModel]="product.puntuacion" readonly="true" stars="5" [cancel]="false"></p-rating></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </ng-template>
            <ng-template let-product pTemplate="gridItem">
                <div style="padding:.5em; cursor: pointer;" class="ui-g-12 ui-md-3" (click)="selectProductDetail($event, product)">
                    <p-panel [header]="product.nombre" [style]="{'text-align':'center'}" id="panelGrid">
                        <img src="http://127.0.0.1:8887/{{product?.fotos[0].ruta}}" width="60">
                        <div class="car-detail">
                        <div class="ui-g-12"> {{product.nombre}} </div>
                        <div class="ui-g-12"><p-rating [ngModel]="product.puntuacion" readonly="true" stars="5" [cancel]="false"></p-rating></div>
                        </div>
                        <hr class="ui-widget-content" style="border-top:0">
                        
                    <!--  <button pButton type="button" icon="pi pi-search" (click)="selectProduct($event, product)" style="margin-top:0"></button> -->
                    </p-panel>
                </div>
            </ng-template>
        </p-dataView>
    </div>
    <router-outlet></router-outlet>
</div>


