@media screen and (min-width: 200px) and (max-width: 365px){
    .panelGeneralProducto{
        width: 98% !important; 
    }
}
@media screen and (min-width: 365px) and (max-width: 480px){
    .panelGeneralProducto{
        width: 45% !important; 
    }
}

@media screen and (min-width: 320px) and (max-width: 480px){
    .imagenProducto{
        max-height: 100% ;
        max-width: 100%;
    }
    
    .divImagenProducto{
        min-width: 100%;
    }
    .contenedorFiltrosLateral{
        min-height: 10em;
        padding-bottom: 8%;
    }
    .divRangoPrecios{
        margin-top: 0%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .imagenProducto{
        max-height: 100% ;
        max-width: 100%;
    }
    .panelGeneralProducto{
        width: 45% !important; 
    }
    .divImagenProducto{
        min-width: 100%;
    }
    .contenedorFiltrosLateral{
        min-height: 10em;
        padding-bottom: 8%;
    }
    .divRangoPrecios{
        margin-top: 0%;
    }
}

@media screen and (min-width: 1200px){
    .imagenProducto{
        max-height: 100% ;
        max-width: 100%;
    }
    .panelGeneralProducto{
        width: 27% !important; 
    }
    .divImagenProducto{
        min-width: 100%;
    }
    .contenedorFiltrosLateral{
        min-height: 760px;
    }
    .divRangoPrecios{
        margin-top: 25%;
    }
}


:host ::ng-deep .menuLateral.ui-tree.ui-widget.ui-widget-content.ui-corner-all.ui-tree-selectable.ng-star-inserted{
    border: 0 !important;
}

.contenedorFiltrosLateral{
    border: 1px solid #e4dfdf;
}


.panelGeneralProducto{
    cursor: pointer; 
    border: 1px solid #ece9e9; 
    margin: 2%;
  }
.panelGeneralProducto:hover{
    box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);
}

.loadingSpinner{
    text-align: center;
    top: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1009;
}

.ui-blockui-document.ui-blockui.ui-widget-overlay{
    z-index: 1010;
}