<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<div *ngIf="blockedDocument" class="loadingSpinner">
    <p-progressSpinner [style]="{width: '150px', height: '150px'}" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
</div>
<div class="ui-g contenedorDetalleProducto" *ngIf="(productLoaded | async) && !contenedorBusquedaProducto">
    <div class="ui-g-12 ui-md-12" *ngIf="imagesLoaded" >
        <p-galleria [(value)]="images" panelWidth="650" panelHeight="520" [containerStyle]="{'max-width': '100%'}" [autoPlay]="true" [transitionInterval] ="4000"
            [circular] ="true" styleClass="galeriaDetalleProducto" [showThumbnails]="false" [showIndicators]="true" *ngIf="imagesLoaded">
            <ng-template pTemplate="item" let-item *ngIf="imagesLoaded">
                <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
            </ng-template>
        </p-galleria>
    </div>


    <div class="ui-g-12 ui-md-12" *ngIf="productsNutricion.length > 0">
        <p-carousel [value]="productsNutricion" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" 
        [circular]="false" [responsiveOptions]="responsiveOptions" [page]="1">
            <p-header>
                <a (click)="irCategoriaGeneral('nutricion', 'all')" style="cursor: pointer;"><h2 class="tituloCategoria">{{'navbar.nutricion' | translate}}</h2></a>
            </p-header>
            <ng-template let-product pTemplate="item">
                    <div class="containerItemCarouselBotom" (click)="verProducto(product.id, product.nombre, product.nombreEng, '1', 'products')">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12 text-center contenedorImagenCarousel" *ngIf="product.fotos.length > 0">
                                <img src="http://127.0.0.1:8887/{{product?.fotos[0].ruta}}" class="imagenCarouselInferior"/>
                            </div>
                            <div class="p-col-12 text-center contenedorImagenCarousel" *ngIf="product.fotos.length === 0">
                                <img src="http://127.0.0.1:8887/not-found.png" class="imagenCarouselInferior"/>
                            </div>
                            <div class="p-col-12 car-data text-center">
                                <div class="car-title">{{language == 'en' ? product.nombreEng : product.nombre}}</div>
                                <div class="car-subtitle"><h3 style="color: #d20404;">{{product.precio}}</h3> </div>
            
                                <div class="car-buttons">
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="ui-g-12 ui-md-12" *ngIf="productsAlimentacion.length > 0">
        <p-carousel [value]="productsAlimentacion" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" 
        [circular]="false" [responsiveOptions]="responsiveOptions" [page]="1">
            <p-header>
                <a (click)="irCategoriaGeneralFeeding('alimentacion', 'all')" style="cursor: pointer;"><h2 class="tituloCategoria">{{'navbar.alimentacion' | translate}}</h2></a>
            </p-header>
            <ng-template let-product pTemplate="item">
                    <div class="containerItemCarouselBotom" (click)="verProducto(product.id, product.nombre, product.nombreEng, '1', 'feeding')">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12 text-center contenedorImagenCarousel" *ngIf="product.fotos.length > 0">
                                <img src="http://127.0.0.1:8887/{{product?.fotos[0].ruta}}" class="imagenCarouselInferior"/>
                            </div>
                            <div class="p-col-12 text-center contenedorImagenCarousel" *ngIf="product.fotos.length === 0">
                                <img src="http://127.0.0.1:8887/not-found.png" class="imagenCarouselInferior"/>
                            </div>
                            <div class="p-col-12 car-data text-center">
                                <div class="car-title">{{language == 'en' ? product.nombreEng : product.nombre}}</div>
                                <div class="car-subtitle"><h3 style="color: #d20404;">{{product.precio}}</h3> </div>
            
                                <div class="car-buttons">
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="ui-g-12 ui-md-12" *ngIf="productsPromociones.length > 0">
        <p-carousel [value]="productsPromociones" styleClass="custom-carousel" [numVisible]="4" [numScroll]="1" 
        [circular]="false" [responsiveOptions]="responsiveOptions" [page]="1">
            <p-header>
                <a (click)="irCategoriaGeneral('nutricion', 'all')" style="cursor: pointer;"><h2 class="tituloCategoria">{{'navbar.promociones' | translate}}</h2></a>
            </p-header>
            <ng-template let-product pTemplate="item">
                    <div class="containerItemCarouselBotom" (click)="verProducto(product.id, product.nombre, product.nombreEng, '1', 'promotions')">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12 text-center contenedorImagenCarousel" *ngIf="product.fotos.length > 0">
                                <img src="http://127.0.0.1:8887/{{product?.fotos[0].ruta}}" class="imagenCarouselInferior"/>
                            </div>
                            <div class="p-col-12 text-center contenedorImagenCarousel" *ngIf="product.fotos.length === 0">
                                <img src="http://127.0.0.1:8887/not-found.png" class="imagenCarouselInferior"/>
                            </div>
                            <div class="p-col-12 car-data text-center">
                                <div class="car-title">{{language == 'en' ? product.nombreEng : product.nombre}}</div>
                                <div class="car-subtitle"><h3 style="color: #d20404;">{{product.precio}}</h3> </div>
            
                                <div class="car-buttons">
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </ng-template>
        </p-carousel>
    </div>
</div>

<div *ngIf="contenedorBusquedaProducto">
    <app-products-page></app-products-page>
</div>