<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<div *ngIf="blockedDocument" class="loadingSpinner">
    <p-progressSpinner [style]="{width: '150px', height: '150px'}" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
</div>
<div class="ui-g" class="contenedorPrincipalProductos" *ngIf="(productLoaded | async)">
    <div class="cestaDesktopContainer">
        <h2>Carrito de la compra</h2>
    <div class="ui-g-12 divCarritoDesktop" style="text-align: center;">
        <div class="divApartado">
            <div class="divCabeceraApartado">
                <span><b>{{'direccion.entrega' | translate}}</b></span>
            </div>
            <div class="divContenidoApartado">
                <div class="row infoDireccionPedido">
                    <span><b>{{'destinatario' | translate}}</b>: {{direccion.destinatario}}</span>
                </div>
                <div class="row infoDireccionPedido">
                    <span><b>{{'calle' | translate}}</b>: {{direccion.calle}}</span>
                </div>
                <div class="row infoDireccionPedido">
                    <span><b>{{'cod.postal' | translate}}</b>: {{direccion.codigoPostal}}</span>
                </div>
                <div class="row infoDireccionPedido">
                    <span><b>{{'telefono' | translate}}</b>: {{direccion.telefono}}</span>
                </div>
            </div>
        </div>
        <div class="divApartado">
            <div class="divCabeceraApartado">
                <span><b>{{'metodo.envio' | translate}}</b></span>
            </div>
            <div class="divContenidoApartado">
                <div *ngFor="let envio of metodoEnvio">
                    <div class="p-col-10 divMetodoEnvio">
                        <div class="p-col-3 subdivMetodoEnvio">
                            <p-radioButton name="group1" value="{{envio.id}}" [(ngModel)]="selectedEnvio" inputId="group1" styleClass="radioButton"></p-radioButton>
                            <img src="assets/images/envio/{{envio.icono}}" alt="{{envio.icono}}">
                        </div>
                        <div class="p-col-9 subdivMetodoEnvio">
                            <span>{{envio.descripcion}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="divApartado">
            <div class="divCabeceraApartado">
                <span><b>{{'forma.pago' | translate}}</b></span>
            </div>
            <div class="divContenidoApartado">
                <div *ngFor="let pago of metodoPago">
                    <div class="p-col-10 divMetodoEnvio">
                        <div class="p-col-3 subdivMetodoPago">
                            <p-radioButton name="group2" value="{{pago.id}}" [(ngModel)]="selectedPago" inputId="group2" styleClass="radioButton"></p-radioButton>
                            <img src="assets/images/pago/{{pago.icono}}" alt="{{pago.icono}}">
                        </div>
                        <div class="p-col-9 subdivMetodoPago">
                            <span>{{pago.descripcion}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     <!--    <div class="divInferiorTotal">
            <div class="ui-grid-row totalPedido"> 
                <div class="p-col-2 p-md-6 p-lg-8"></div>
                <div class="subdivInferiorTotal p-col-10 p-md-6 p-lg-4">
                    <div class="tituloSubTotal">{{'subtotal' | translate}}:</div>
                    <div class="w100">{{cesta.importeSubTotal | number:'1.2-2'}} €</div>
                </div>
            </div>
            <div class="ui-grid-row totalPedido">
                <div class="p-col-2 p-md-6 p-lg-8"></div>
                <div class="subdivInferiorTotal p-col-10 p-md-6 p-lg-4">
                    <div class="tituloEnvio">{{'envio' | translate}}:</div>
                    <div class="w100">{{cesta.envio | number:'1.2-2'}} €</div>
                </div>
            </div>
            <div class="ui-grid-row totalPedido">
                <div class="p-col-2 p-md-6 p-lg-8"></div>
                <div class="subdivInferiorTotal p-col-10 p-md-6 p-lg-4">
                    <div class="tituloSubTotal ">{{'total' | translate}}:</div>
                    <div class="w100"><b class="importeTotal">{{cesta.importeTotal | number:'1.2-2'}} €</b></div>
                </div>
            </div>
        </div> -->
        
    </div>
    <div>
        <div class="ui-grid-col-8 divButtonPagoCesta">
            <button pButton type="button" label="{{'continuar' | translate}}" class="buttonBigCesta" icon="pi pi-chevron-right"
            (click)="paso3()"></button>
        </div>
    </div>
</div>

<!-- <div class="ui-g-12 divCarritoMobile" style="text-align: center;">
        <p-table [value]="products" [responsive]="true">
            <ng-template pTemplate="header" let-columns>
                <tr class="trHeadPedidos">
                    <th class="thHeadPedidos">{{'producto' | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-i="rowIndex">
                <tr class="trPedidos">
                    <td class="tdPedidos">
                        <div class="ui-g-12 cabeceraProductoCestaMobile">
                            <div class="ui-g-12 nombreProductoCesta">
                                <span><b>{{product.nombre}}</b></span>
                                - <span>{{language == 'en' ? product.saborSeleccionado.saborEng : product.saborSeleccionado.sabor}}</span>
                            </div>
                        </div>
                        <div class="ui-g-12 contenedorProductoCestaMobile">
                            <div class="ui-g-5 contenedorCestaImagenMobile">
                                <div class="ui-g-3 divIconoEliminar">
                                    <button pButton type="button" class="ui-button-secondary iconoEliminar" icon="pi pi-trash" (click)="eliminarProducto(i)"></button>
                                </div>
                                <div class="ui-g-9">
                                    <img [alt]="product.nombre" src="http://127.0.0.1:8887/{{product?.fotos[0].ruta}}" width="64" />
                                </div>
                            </div>
                            <div class="ui-g-2 divInfoProducto">
                                {{product.precio | number:'1.2-2'}} €
                            </div>
                            <div class="ui-g-2 divInfoProducto">
                                X {{product.cantidad}}
                            </div>
                            <div class="ui-g-3 divInfoProducto">
                                = {{product.precio*product.cantidad | number:'1.2-2'}} €
                            </div>
                        </div>
                        <hr>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        <div class="divInferiorTotal">
            <div class="ui-grid-row totalPedido"> 
                <div class="p-col-2 p-md-6 p-lg-8"></div>
                <div class="subdivInferiorTotal p-col-10 p-md-6 p-lg-4">
                    <div class="tituloSubTotal">{{'subtotal' | translate}}:</div>
                    <div class="w100">{{cesta.importeSubTotal | number:'1.2-2'}} €</div>
                </div>
            </div>
            <div class="ui-grid-row totalPedido">
                <div class="p-col-2 p-md-6 p-lg-8"></div>
                <div class="subdivInferiorTotal p-col-10 p-md-6 p-lg-4">
                    <div class="tituloSubTotal">{{'envio' | translate}}:</div>
                    <div class="w100">{{cesta.envio | number:'1.2-2'}} €</div>
                </div>
            </div>
            <div class="ui-grid-row totalPedido">
                <div class="p-col-2 p-md-6 p-lg-8"></div>
                <div class="subdivInferiorTotal p-col-10 p-md-6 p-lg-4">
                    <div class="tituloSubTotal ">{{'total' | translate}}:</div>
                    <div class="w100"><b class="importeTotal">{{cesta.importeTotal | number:'1.2-2'}} €</b></div>
                </div>
            </div>
        </div>
        <div>
            <div class="ui-grid-col-8 divButtonPagoCesta">
                <button pButton type="button" label="{{'continuar' | translate}}" class="buttonBigCesta" 
                (click)="paso2()" icon="pi pi-chevron-right"></button>
            </div>
        </div>
    </div> -->
</div>

<div *ngIf="contenedorBusquedaProducto">
    <app-products-page></app-products-page>
</div>
