.iconColor{
    color: black;
}
.divSearchbox{
    background-color: white;
}
.contenedorPrincipal{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.ayudaLi{
    display: flex !important;
}