<div class="contenedorPrincipal">
  <div class="headerFixed">
    <div class="p-grid w100 headerMask">
      <div class="p-col">
       <p class="textoPequeno ml-2"> <fa-icon [icon]="faInfoCircle" class="iconCustom"></fa-icon> COVID-19: Las entregas en España siguen llevándose a cabo normalmente.</p>
      </div>
      <div class="p-col text-center">
        <p class="textoPequeno"><fa-icon [icon]="faTruck" class="iconCustom"></fa-icon> Envío gratuito en pedidos superiores a €24.99</p>
      </div>
      <div class="p-col"></div>
    </div>
    <div class="p-grid w100 headerPrincipal">
        <div class="p-col">1</div>
        <div class="p-col mt-12">
          <p-autoComplete [(ngModel)]="autocompleteText" placeholder="Buscar" [suggestions]="results" (completeMethod)="search($event)"></p-autoComplete>
        </div>
        <div class="p-col">
          <div class="p-grid w100 divRegistro">
            <div class="p-col top-help-container">
              <a href="#" class="linksRegistro"><fa-icon [icon]="faPhoneVolume" class="iconCustomBig"></fa-icon><p class="textoNormal">Ayuda</p></a>
            </div>
            <div class="p-col top-help-container" *ngIf="logged$">
              <a (click)="miCuenta()" class="pointer linksRegistroSimple"><p class="textoNormal">Mi Cuenta</p></a>
            </div>
            <div class="p-col top-help-container" *ngIf="logged$">
              <a (click)="cerrarSesion()" class="pointer linksRegistroSimple"><p class="textoNormal">Cerrar Sesión</p></a>
            </div>
           <div class="p-col top-help-container" *ngIf="!logged$">
              <a (click)="showLoginModal()" class="pointer linksRegistroSimple"><p class="textoNormal">Iniciar Sesión</p></a>
            </div>
            <div class="p-col top-help-container" *ngIf="!logged$">
              <a (click)="showRegisterModal()" class="pointer linksRegistroSimple"><p class="textoNormal">Crear Cuenta</p></a>
            </div>
            
            <div class="p-col top-help-container" >
              <a class="linksRegistro" style="cursor: pointer;">
               
                  <fa-icon [icon]="faShoppingCart" class="iconCustom mt-12" (click)="openShoppingCartDialog($event, op1)" id="botonShoppingCart"></fa-icon><p> </p>
         
              </a>
              <p-overlayPanel #op1 styleClass="overlayShoppingCart">
                <ng-template pTemplate>
                   <div *ngIf="carritoVacio"><p class="paragrafCarritoVacio">Tu carrito está vacío</p></div>

                   <div *ngIf="!carritoVacio">
                    <p-scrollPanel [style]="{width: '100%', height: '400px'}">
                        <app-shooping-cart [cesta]="cesta"></app-shooping-cart>
                     </p-scrollPanel>
                   </div>
                </ng-template>
            </p-overlayPanel>
            </div>
          </div>
        </div>
    </div>
    
    <p-megaMenu [model]="megaMenuItems"></p-megaMenu>
    
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>

</div>


<div class="contenedorBody">
  <router-outlet></router-outlet>
</div>

</div>