.iconColor{
    color: black;
}
.divSearchbox{
    background-color: white;
}
.inputSearchNavBar{
    width: 100%;
}
.contenedorPrincipal{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.ayudaLi{
    display: flex !important;
}
/*BREADCRUMB*/
body .ui-breadcrumb ul li .ui-menuitem-link{
    color: #9c9c9c !important;
}
body .ui-breadcrumb ul li .ui-menuitem-link:hover{
    color: #9c9c9c !important;
    text-decoration: underline !important;
}
body .ui-breadcrumb ul li.ui-breadcrumb-chevron{
    font-size: 1em !important;
}
body .ui-breadcrumb{
    background-color: white !important;
}
/*BREADCRUMB*/

/*OVERLAY SHOPPING CART*/
:host ::ng-deep .overlayShoppingCart{
    width: 28%;
    min-height: 200%;
    max-height: 500%;
    top: 71px !important;
}

.paragrafCarritoVacio{
    margin: 0;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*PROPIEDADES MEGA MENU*/
:host ::ng-deep .megaMenuCustom ul.ui-megamenu-submenu.ng-star-inserted{
    width: 25em !important;
}

:host ::ng-deep .megaMenuCustom li.ui-widget-header.ui-megamenu-submenu-header.ui-corner-all{
    display: none;
}
:host ::ng-deep .megaMenuCustom ul.ui-megamenu-submenu.ng-star-inserted>li:nth-child(2)>a>span{
    font-weight: bolder !important;
}