<div class="contenedorPrincipal">
  <div class="headerFixed">
    <div class="p-grid w100 headerMask">
      <div class="p-col">
       <p class="textoPequeno ml-2"> <fa-icon [icon]="faInfoCircle" class="iconCustom"></fa-icon> COVID-19: {{'infoEntregasCovid' | translate}}.</p>
      </div>
      <div class="p-col text-center">
        <p class="textoPequeno"><fa-icon [icon]="faTruck" class="iconCustom"></fa-icon>{{'infoEnvioGratuito' | translate}} €</p>
      </div>
      <div class="p-col"></div>
    </div>
    <div class="p-grid w100 headerPrincipal">
        <div class="p-col divNavBarLeft">
          <button pButton type="button" (click)="visibleSidebar1 = true" icon="pi pi-bars" class="buttonBars botonMenuBarMobile"></button>
        </div>
        <div class="p-col mt-12 divNavBarCenter">
          <input [(ngModel)]="inputSearch" class="inputSearchNavBar" id="inputSearchNavBar" type="text" pInputText (input)="search($event.target.value)" #inputSearchNavBar/>
        </div>
        <div class="p-col divNavBarRight">
          <div class="p-grid w100 divRegistro" id="divRegistro">
            <div class="p-col top-help-container">
              <p-dropdown [options]="countries" [(ngModel)]="selectedLanguage" [style]="{'min-width':'4em'}" styleClass="dropdownLanguages" (onChange)="cambiarIdioma(selectedLanguage)">
                <ng-template let-item pTemplate="selectedItem">
                    <img src="assets/images/flags/{{item.icon}}" style="width:26px;vertical-align:middle" />
                    <span style="vertical-align:middle; margin-left: .5em"></span>
                </ng-template>
                <ng-template let-language pTemplate="item">
                    <div class="ui-helper-clearfix" style="position: relative;height: 25px;">
                        <img src="assets/images/flags/{{language.icon}}" style="width:24px;position:absolute;top:1px;left:5px"/>
                        <div style="font-size:14px;float:right;margin-top:4px"></div>
                    </div>
                </ng-template>
            </p-dropdown>
            </div>
            <div class="p-col top-help-container">
              <a href="#" class="linksRegistro"><fa-icon [icon]="faPhoneVolume" class="iconCustomBig"></fa-icon><p class="textoNormal">{{'navbar.ayuda' | translate}}</p></a>
            </div>
            <div class="p-col top-help-container" *ngIf="logged$">
              <a (click)="miCuenta()" class="pointer linksRegistroSimple"><p class="textoNormal">{{'navbar.mi.cuenta' | translate}}</p></a>
            </div>
            <div class="p-col top-help-container" *ngIf="logged$">
              <a (click)="cerrarSesion()" class="pointer linksRegistroSimple"><p class="textoNormal">{{'navbar.cerrar.sesion' | translate}}</p></a>
            </div>
           <div class="p-col top-help-container" *ngIf="!logged$" id="divLoginNormal">
              <a (click)="showLoginModal()" class="pointer linksRegistroSimple" id="botonLogin"><p class="textoNormal">{{'navbar.iniciar.sesion' | translate}}</p></a>
            </div>
            <div class="p-col top-help-container" *ngIf="!logged$">
              <a (click)="showRegisterModal()" class="pointer linksRegistroSimple"><p class="textoNormal">{{'navbar.crear.cuenta' | translate}}</p></a>
            </div>
            
            <div class="p-col top-help-container" >
              <a class="linksRegistro" style="cursor: pointer;">
               
                  <fa-icon [icon]="faShoppingCart" class="iconCustom mt-12 iconCesta" (click)="openShoppingCartDialog($event, op1)" id="botonShoppingCart"></fa-icon>
                  <span class="badge" *ngIf="productsService.cesta?.cantidadProductos > 0">{{productsService.cesta.cantidadProductos}}</span>
         
              </a>
              <p-overlayPanel #op1 styleClass="overlayShoppingCart">
                <ng-template pTemplate>
                   <div *ngIf="carritoVacio"><p class="paragrafCarritoVacio">{{'carrito.vacio' | translate}}</p></div>

                   <div *ngIf="!carritoVacio" id="overlayShoppingCart">
                    <p-scrollPanel [style]="{width: '100%', height: '400px'}">
                        <app-shooping-cart [cesta]="cesta"></app-shooping-cart>
                     </p-scrollPanel>
                   </div>
                </ng-template>
            </p-overlayPanel>
            </div>
          </div>

          <div class="p-col top-help-container cestaIconMobile" id="cestaIconMobile">
            <a class="linksRegistro" style="cursor: pointer;">
             
                <fa-icon [icon]="faShoppingCart" class="iconCustom mt-12" (click)="showCartMobileDialog()" id="botonShoppingCartMobile"></fa-icon>
                <span class="badge" *ngIf="productsService.cesta?.cantidadProductos > 0">{{productsService.cesta.cantidadProductos}}</span>
       
            </a>

            <p-dialog [(visible)]="displayCartMobile" position="top" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
                [draggable]="false" [resizable]="false" styleClass="overlayShoppingCartMobile" header="{{'cesta.compra' | translate}}">
                <div *ngIf="carritoVacio"><p class="paragrafCarritoVacio">{{'carrito.vacio' | translate}}</p></div>

                  <div *ngIf="!carritoVacio" id="overlayShoppingCartMobile">
                    <p-scrollPanel [style]="{width: '100%', height: '400px'}">
                        <app-shooping-cart [cesta]="cesta"></app-shooping-cart>
                    </p-scrollPanel>
                  </div>
              </p-dialog>


          <!--   <p-overlayPanel #op2 styleClass="overlayShoppingCartMobile">
              <ng-template pTemplate>
                 <div *ngIf="carritoVacio"><p class="paragrafCarritoVacio">Tu carrito está vacío</p></div>

                 <div *ngIf="!carritoVacio">
                  <p-scrollPanel [style]="{width: '100%', height: '400px'}">
                      <app-shooping-cart [cesta]="cesta"></app-shooping-cart>
                   </p-scrollPanel>
                 </div>
              </ng-template>
          </p-overlayPanel> -->
          </div>
        </div>
    </div>
    
    <p-megaMenu [model]="megaMenuItems" styleClass="megaMenuCustom"></p-megaMenu>
    
    <p-breadcrumb [model]="breadCrumbItems"></p-breadcrumb>

</div>

<p-sidebar [(visible)]="visibleSidebar1" [baseZIndex]="10000">
  <div class="ui-g-12 divTituloLateral"><h1>MCyclo</h1></div>
  <p-panelMenu [model]="panelMenuItems" styleClass="panelSideMenuCustom"></p-panelMenu> 
  <div class="ui-g-12 divRegistroLateral"><a href="#" class="linksRegistroLateral" style="display: flex;"><fa-icon [icon]="faPhoneVolume" class="iconCustomBig"></fa-icon><p class="textoNormal">{{'navbar.ayuda' | translate}}</p></a></div>
  <div class="ui-g-12 divRegistroLateral" *ngIf="logged$"><a (click)="miCuenta()" class="pointer linksRegistroLateral"><p class="textoNormal">{{'navbar.mi.cuenta' | translate}}</p></a></div>
  <div class="ui-g-12 divRegistroLateral" *ngIf="logged$"><a (click)="cerrarSesion()" class="pointer linksRegistroLateral"><p class="textoNormal">{{'navbar.cerrar.sesion' | translate}}</p></a></div>
  <div class="ui-g-12 divRegistroLateral" *ngIf="!logged$" id="divLoginMobile"><a (click)="showLoginModalMobile()" class="pointer linksRegistroLateral" id="botonLoginMobile"><p class="textoNormal">{{'navbar.iniciar.sesion' | translate}}</p></a></div>
  <div class="ui-g-12 divRegistroLateral" *ngIf="!logged$"><a (click)="showRegisterModalMobile()" class="pointer linksRegistroLateral"><p class="textoNormal">{{'navbar.crear.cuenta' | translate}}</p></a></div>
  <div class="ui-g-12 divRegistroLateral">
  <p-selectButton [options]="countries" [(ngModel)]="selectedLanguageMobile" optionLabel="name" styleClass="buttonCountries" [style]="{'width': '100% !important'}" #langSelect (onChange)="cambiarIdioma(selectedLanguage)">
        <ng-template let-item pTemplate="selectedItem">
            <div style="padding: 0; padding-left: 7%;">
                <img style="vertical-align: middle; margin-right: .5em" src="assets/images/flags/{{item.value.icon}}" height="35px"/>
            </div>
        </ng-template>
    </p-selectButton>
    
  </div>
</p-sidebar>


<div class="contenedorBody">
  <router-outlet></router-outlet>
</div>

</div>