<div class="login">
   <!--  <form class="custom-form" (ngSubmit)="onSubmit()" [formGroup]="profileForm">
      <h1>Login</h1>
      <input
        type="email"
        id="email" formControlName="email"
        name="email"
        placeholder="Email"
        required="required"
      />
      <input
        type="password"
        id="constrasena" formControlName="constrasena"
        name="password"
        placeholder="Password"
        required="required"
      />
      <button type="submit">Log in</button>
    </form> -->
    <p-toast [style]="{marginTop: '80px'}"></p-toast>

<form name="form"
(ngSubmit)="f.form.valid && onSubmit()"
#f="ngForm"
novalidate>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
            <div class="ui-grid-row">
                <div class="ui-grid-col-2"></div>
                <div class="ui-grid-col-8">
                    <div class="ui-grid-row">
                        <span class="ui-float-label inputInicioSesion">
                            <input id="float-input" type="text" size="30" pInputText name="username" [(ngModel)]="form.username" required #username="ngModel"> 
                            <label for="float-input" class="fontSize16">Usuario*</label>
                        </span>
                        <!-- <div class="ui-grid-col-4">
                            <p-message severity="error" text="Introduce e-mail" *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty"></p-message>
                        </div> -->
                    </div>
                    <div class="ui-grid-row">
                        <span class="ui-float-label inputInicioSesion marginB10">
                            <input id="password-input" type="password" size="30" pInputText name="password" [(ngModel)]="form.password" required #password="ngModel"> 
                            <label for="password-input" class="fontSize16">Contraseña*</label>
                        </span>
                        <!-- <div class="ui-grid-col-4">
                            <p-message severity="error" text="Introduce contraseña" *ngIf="!userform.controls['password'].valid&&userform.controls['password'].dirty"></p-message>
                        </div> -->
                    </div>
                    <div class="ui-grid-col-12 checkRecordarme">
                        <p-checkbox [(ngModel)]="form.rememberLogin" binary="true" label="Recordarme" name="rememberLogin" #rememberLogin="ngModel">Recordarme</p-checkbox>
                    </div>
                    <div class="ui-grid-row botonLogin">
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-col-8">
                            <button pButton type="submit" label="Iniciar Sesión" class="buttonBig"></button>
                        </div>
                        <div class="ui-grid-col-2"></div>
                        
                    </div>
                </div>
            <div class="ui-grid-col-2"></div>
        </div>
    </div>
</form>
  </div>