<ng-container
  *ngIf="!contenedorBusquedaProducto; then noBusqueda; else busqueda">
</ng-container>

<ng-template #noBusqueda>
    <!-- <p-blockUI [blocked]="blockedDocument"></p-blockUI>
    <div *ngIf="blockedDocument" class="loadingSpinner">
        <p-progressSpinner [style]="{width: '150px', height: '150px'}" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
    </div> -->
    <div class="ui-g contenedorDetalleProducto" *ngIf="(productLoaded | async) && !contenedorBusquedaProducto">
        <div class="ui-g-12 ui-md-12 minHeight720">
            <p-tabMenu [model]="tabMenuItem" [activeItem]="activeItem" >
            </p-tabMenu>
            <div style="padding: 0.5em;">
                <div [@routeAnimations]="prepareRoute(outlet)">
                    <router-outlet #outlet="outlet"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #busqueda>
        <app-products-page></app-products-page>
</ng-template>

