body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem{
    width: 20% !important;
    padding: 4px;
}
.ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem a{
    width: 100% !important;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem.ui-state-active{
    background-color: #d90000 !important;
    border: 1px solid #ff0000 !important;
    padding: 4px;
}
body .ui-tabview.ui-tabview-left .ui-tabview-nav li:focus{
    box-shadow: 0 0 0 0 #ffffff !important;
}
.ui-tabview-left>.ui-tabview-nav{
    padding-top: 25px !important;
}