<p-tabView orientation="left">
    <p-tabPanel *ngFor="let pedido of pedidos">
        <ng-template pTemplate="header">
            <div class="ui-g-12">
                <h3> {{ pedido.numPedido }} </h3>
                <b>Fecha: </b> <span> {{ pedido.fecha | date : 'dd/MM/yyyy'}} </span>
            </div>
        </ng-template>
            <div class="ui-fluid" style="width: 90%; float: right;">
                <div class="">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-g-12">
                            <h3>Editar información personal</h3>
                        </div>
                        <div class="ui-g-12">
                            <b>Forma de pago</b>: <p>Creadit Card</p>
                            <b>Método de envío</b>: <p>{{ pedido.metodoEnvio }}</p>
                            <b>Destinatario</b>: <p>{{ pedido.destinatario }}</p>
                            <b>Dirección de entrega</b>: <p>{{ pedido.direccionEnvio }}</p>
                        </div>

                        <div class="ui-g-12">
                            <h3 class="first">Carrito de la compra</h3>
                                <p-table [columns]="cols" [value]="productos" [responsive]="true">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr class="trHeadPedidos">
                                            <!-- <th *ngFor="let col of columns" class="thHeadPedidos">
                                                {{col.header}}
                                            </th> -->
                                            <th class="thHeadPedidos">Producto</th>
                                            <th class="thHeadPedidosRight">Precio</th>
                                            <th class="thHeadPedidosRight">Cantidad</th>
                                            <th class="thHeadPedidosRight">Precio Total</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr class="trPedidos" *ngFor="let product of productos">
                                            <td class="tdPedidos">
                                                <div class="contenedorCestaImagen">
                                                    <div><img [alt]="product.nombre" src="assets/laptops/hp-envy-17/1.png" width="64" /></div>
                                                    <div class="nombreProductoCesta"><span><b>{{product.nombre}}</b></span></div>
                                                </div>
                                            </td>
                                            <td class="tdPedidosRight">{{product.precio}}</td>
                                            <td class="tdPedidosRight">{{product.cantidad}}</td>
                                            <td class="tdPedidosRight">{{product.precioTotal}}</td>
                                          <!--   <td *ngFor="let col of columns" class="tdPedidos">
                                                <span class="ui-column-title">{{col.header}}</span>
                                                {{rowData[col.field]}}
                                            </td> -->
                                        </tr>
                                    </ng-template>
                                </p-table>
                                <div class="divInferiorTotal">
                                    <div class="ui-grid-row totalPedido"> 
                                        <div class="ui-grid-col-10"></div>
                                        <div class="subdivInferiorTotal ui-grid-col-2">
                                            <div class="tituloSubTotal">Sub-total:</div>
                                            <div class="w100">521</div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row totalPedido">
                                        <div class="ui-grid-col-10"></div>
                                        <div class="subdivInferiorTotal ui-grid-col-2">
                                            <div class="tituloSubTotal">Envío:</div>
                                            <div class="w100">Gratis</div>
                                        </div>
                                    </div>
                                    <div class="ui-grid-row totalPedido">
                                        <div class="ui-grid-col-10"></div>
                                        <div class="subdivInferiorTotal ui-grid-col-2">
                                            <div class="tituloSubTotal">Total:</div>
                                            <div class="w100"><b>521</b></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
    </p-tabPanel>
</p-tabView>