<p-blockUI [blocked]="blockedDocument"></p-blockUI>
<div *ngIf="blockedDocument" class="loadingSpinner">
    <p-progressSpinner [style]="{width: '150px', height: '150px'}" strokeWidth="4" animationDuration="1s"></p-progressSpinner>
</div>
<div class="ui-g contenedorDetalleProducto" *ngIf="productLoaded | async">
    <div class="ui-g-12 ui-md-12 minHeight720">
        <div class="ui-g-12 ui-md-6 h100">
            <div class="ui-g-12">
                <div class="contenedorGaleria">
                    <p-galleria [images]="images" panelWidth="650" panelHeight="520" [showCaption]="false" [frameWidth]="180" [frameHeight]="120" [autoPlay]="false"></p-galleria>
                </div>
            </div>
        </div>
        <div class="ui-g-12 ui-md-6 h100">
            <div>
                <h1>{{product.nombre}}</h1>
                <h3>{{product.descripcion?.titulo}}</h3>
                <h2 style="color: #d20404;">{{product.precio | number:'1.2-2'}}</h2> 
                <div style="display: inline-flex;">
                    <div>
                        <p-rating [ngModel]="product.puntuacion" readonly="true" stars="5" [cancel]="false"></p-rating>
                    </div>
                    <div>    
                        <p class="divEstrellasReviews">{{ product.comentarios.length }} reviews</p>
                    </div>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4">
                    <p-dropdown [options]="saboresItems" [(ngModel)]="saborSelected" styleClass="comboSabores"></p-dropdown>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <p-spinner size="30" [(ngModel)]="cantidadSeleccionadaProducto" [min]="0" [max]="100" styleClass="spinnerCantidad"></p-spinner> 
                </div>
                <div class="ui-g-12 ui-md-4"></div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-12 ui-md-4">
                    <button pButton type="button" label="Favoritos" class="ui-button-raised ui-button-danger botonFavoritos" icon="pi pi-heart"></button>
                </div>
                <div class="ui-g-12 ui-md-4">
                    <button pButton type="button" label="Añadir a la cesta" class="ui-button-raised ui-button-success botonCesta" 
                    icon="pi pi-shopping-cart" (click)="addProduct(product)"></button>
                </div>
                <div class="ui-g-12 ui-md-4"></div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-12 minHeight720">
        <div class="ui-g-12 ui-md-6">
            <p-tabView styleClass="tabViewProduct">
                <p-tabPanel header="Descripción" leftIcon="pi pi-calendar">
                    <div class="contenedorDescripcion">
                        <div class="divTitulo">
                        <p><b>{{product.descripcion?.titulo}}</b></p>
                        </div>
                        <div class="divSubtitulo">
                            <p><b>{{product.descripcion?.subtitulo}}</b></p>
                        </div>
                        <div class="divApartado">
                            <p>{{product.descripcion?.apartado}}</p>
                        </div>
                        <div class="divCaracteristicas">
                            <p style="margin-bottom: 2%;">Características principales:</p>
                            <p>{{product.descripcion?.caracteristicas}}</p>
                        </div>
                        <div class="divBeneficios">
                            <p style="margin-bottom: 2%;">Beneficios de {{ product.nombre }}:</p>
                            <p>{{product.descripcion?.beneficios}}</p>
                        </div>
                    </div>
                </p-tabPanel>
                
                <p-tabPanel header="Opiniones" leftIcon="pi pi-user" rightIcon="pi pi-star">
                    <div class="contenedorOpiniones">
                        <div class="ui-g-12 ui-md-12 ui-g-nopad">
                            <p-dataView #dv [value]="comentarios" [paginator]="true" [rows]="5" paginatorPosition="bottom" filterBy="autor"
                                [sortField]="sortField" [sortOrder]="sortOrder" layout="list">
                                <ng-template let-comentario pTemplate="listItem">
                                    <div class="ui-g-6" style="border: 1px solid #ece9e9; margin: 5px;">
                                        <div class="car-details">
                                            <div class="ui-g-12">
                                                <div class="ui-g-4 ui-md-4" style="min-width: 138px;">
                                                    <div class="ui-g-12"><p-rating [ngModel]="comentario.puntuacion" readonly="true" stars="5" [cancel]="false"></p-rating></div>
                                                    <div class="ui-g-12"><b>{{comentario.fecha | date : 'dd/MM/yyyy'}}</b></div>
                                                </div>
                                                <div class="ui-g-8 ui-md-8">
                                                    <div class="ui-g">
                                                        <div class="ui-g-12"><b>{{comentario.autor}}</b></div>
                                                        <div class="ui-g-12" style="margin-top: 2%;"><span>{{comentario.opinion}}</span></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-dataView>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </div>

        <div class="ui-g-12 ui-md-6">
            <div class="contenedorInfoNutricional">
                <!-- VALOR NUTRICIONAL -->
                <div class="ui-g-12">
                    <b class="left">Inf. Nutricional</b>
                </div>
                <hr>
                <div class="ui-g-12">
                    <span class="left">Dosis</span><span class="right">{{valorNutricional.dosis}}</span>
                </div>
                <hr>
                <div class="ui-g-12">
                    <span class="left">Dosis Envase</span><span class="right">{{valorNutricional.dosisEnvase}}</span>
                </div>
                <hr>
                <div class="ui-g-12">
                    <span class="left">Dosis diaria</span><span class="right">{{valorNutricional.dosisDiaria}}</span>
                </div>
                <hr>
                <!-- INFO BASICA -->
                <div class="ui-g-12" *ngIf="infoBasica.valorEnergetico">
                    <b class="left">Valor Energético</b><span class="right">{{infoBasica.valorEnergetico}}Kcal</span>
                </div>
                <hr *ngIf="infoBasica.valorEnergetico">
                <div class="ui-g-12" *ngIf="infoBasica.proteinas">
                    <b class="left">Proteínas</b><span class="right">{{infoBasica.proteinas}}g</span>
                </div>
                <hr *ngIf="infoBasica.proteinas">
                <div class="ui-g-12" *ngIf="infoBasica.hidratos">
                    <div class="w100">
                        <b class="left">Hidratos de Carbono</b><span class="right">{{infoBasica.hidratos}}g</span>
                    </div>
                    <div class="ui-g-12">
                        <span class="left">Azúcares</span><span class="right">{{infoBasica.azucares}}g</span>
                    </div>
                </div>
                <hr *ngIf="infoBasica.hidratos">
                <div class="ui-g-12" *ngIf="infoBasica.grasas">
                    <div class="w100">
                        <b class="left">Grasas Totales</b><span class="right">{{infoBasica.grasas}}g</span>
                    </div>
                    <div class="ui-g-12">
                        <span class="left">Grasas Saturadas</span><span class="right">{{infoBasica.saturadas}}g</span>
                    </div>
                </div>
                <hr *ngIf="infoBasica.grasas">
                <div class="ui-g-12" *ngIf="infoBasica.sodio">
                    <b class="left">Sodio</b><span class="right">{{infoBasica.sodio}}g</span>
                </div>
                <hr *ngIf="infoBasica.sodio">
                <!-- VITAMINAS -->
                <div *ngFor="let vitamina of vitaminas">
                    <div class="ui-g-12">
                        <b class="left">{{ vitamina.nombre }}</b><span class="right">{{vitamina.valor}}g</span>
                    </div>
                    <hr>
                </div>

                <!-- MAS DATOS -->
                <div class="ui-g-12" *ngIf="valorNutricional.ingredientes">
                    <b>Ingredientes:</b> <span style="margin-left: 1%;">{{valorNutricional.ingredientes}}</span>
                </div>
                <div class="ui-g-12" *ngIf="valorNutricional.modoEmpleo">
                    <b>Modo de Empleo:</b> <span style="margin-left: 1%;">{{valorNutricional.modoEmpleo}}</span>
                </div>
                <div class="ui-g-12" *ngIf="valorNutricional.conservacion">
                    <b>Conservación:</b> <span style="margin-left: 1%;">{{valorNutricional.conservacion}}</span>
                </div>
                <div class="ui-g-12" *ngIf="valorNutricional.alergias">
                    <b>Alergias:</b> <span style="margin-left: 1%;">{{valorNutricional.alergias}}</span>
                </div>
                <div class="ui-g-12" *ngIf="valorNutricional.advertencias">
                    <b>Advertencias:</b> <span style="margin-left: 1%;">{{valorNutricional.advertencias}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="ui-g-12 ui-md-12">
        <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" 
        [circular]="true" [autoplayInterval]="6000" [responsiveOptions]="responsiveOptions">
            <p-header>
                <h3>También te podría interesar</h3>
            </p-header>
            <ng-template let-product pTemplate="item">
                    <div class="containerItemCarouselBotom" (click)="verProducto(product.id, product.nombre)">
                        <div class="p-grid p-nogutter">
                            <div class="p-col-12 text-center" *ngIf="product.fotos.length > 0">
                                <img src="http://127.0.0.1:8887/{{product?.fotos[0].ruta}}" style="max-height: 250px;"/>
                            </div>
                            <div class="p-col-12 text-center" *ngIf="product.fotos.length === 0">
                                <img src="http://127.0.0.1:8887/not-found.png" style="max-height: 250px;"/>
                            </div>
                            <div class="p-col-12 car-data text-center">
                                <div class="car-title">{{product.nombre}}</div>
                                <div class="car-subtitle"><h3 style="color: #d20404;">{{product.precio}}</h3> </div>
            
                                <div class="car-buttons">
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>
                                    <button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>
                                </div>
                            </div>
                        </div>
                    </div>
            </ng-template>
        </p-carousel>
    </div>
</div>