@media screen and (min-width: 320px) and (max-width: 480px){
    .divDataApartado{
        width: 100%; 
        float: right;
    }
    :host ::ng-deep .tabViewCustom .ui-tabview-nav{
        width: 100%;
        border: 1px solid #bfbbbb !important;
    }
    .tabViewCustom{
        padding: 0 !important;
    }
    body .ui-tabview .ui-tabview-panels{
        border: 0 !important;
        margin-top: 0em;
        padding: 0.3em !important;
        width: 100%;
    }
    .ui-tabview.ui-tabview-left>.ui-tabview-nav li{
        background-color: white !important;
        padding: 5px !important;
        border: #d6d2d2 !important;
        width: 100% !important;
    }
    .uploadButton{
        width: 100% !important;
    }
    /*INPUTS DATOS*/
    .customInputsData{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    .textAreaEliminar{
        width: 100%;
    }
    /*INPUTS DATOS*/
    .botonEliminar{
        text-align: center;
    }
}
@media screen and (min-width: 480px) and (max-width: 768px){
    .divDataApartado{
        width: 100%; 
        float: right;
    }
    .ui-tabview.ui-tabview-left>.ui-tabview-nav li{
        background-color: white !important;
        padding: 5px !important;
        border: #d6d2d2 !important;
    }
    .uploadButton{
        width: 100% !important;
    }
    /*INPUTS DATOS*/
    .customInputsData{
        margin-top: 2%;
        margin-bottom: 2%;
        text-align: center;
    }
    /*INPUTS DATOS*/
    .botonEliminar{
        text-align: center;
    }
}
@media screen and (min-width: 1200px){
    .divDataApartado{
        width: 90%; 
        float: right;
    }
    .ui-tabview.ui-tabview-left>.ui-tabview-nav li{
        background-color: white !important;
        padding: 5px !important;
        border: #d6d2d2 !important;
    }
    .uploadButton{
        width: 625px !important;
    }
    /*INPUTS DATOS*/
    .customInputsData{
        margin-top: 2%;
        margin-bottom: 2%;
    }
    /*INPUTS DATOS*/
}


.ui-tabview .ui-tabview-nav li a{
    color: black !important;
}

.ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-state-active{
    background-color: #e2e1e1 !important;
    border: 0;
}
.ui-tabview .ui-tabview-nav li.ui-state-active a{
    color: black !important;
}
body .ui-tabmenu .ui-tabmenu-nav .ui-tabmenuitem .ui-menuitem-link:focus{
    box-shadow: 0 0 0 0 #fbfbfb !important;
}



.ui-fileupload-choose >.ui-button-icon-left {
    font-size: 1em !important;
}
.ui-fileupload-buttonbar .pi-upload {
    font-size: 1em !important;
}
.ui-fileupload-buttonbar .pi-times {
    font-size: 1em !important;
}
.ui-fileupload-content{
    min-height: 300px;
}

.imagenPerfil{
    height: 300px;
    width: 300px;
}


.eliminarCuentaParrafo1{
    margin-top: 5%;
}
.eliminarCuentaParrafo2{
    margin-top: 5%;
}

.divBotonElegirFoto{
    margin-top: 1em;
}
.imagenPerfil{
    max-width: 29em;
    min-width: 29em;
    margin-top: 5%;
    border: 2px solid #b9b9b9;
    border-radius: 2%;
}
.divBotonSubirFoto{
    margin-top: 1em;
}
.divMensajeFotoSubida{
    min-height: 5em;
}
.botonCancelarFoto{
    margin-bottom: 2%;
    background-color: #d90000;
    border: 1px solid #d90000;
}
.botonCancelarFoto:hover{
    margin-bottom: 2%;
    background-color: #ab0404 !important;
    border: 1px solid #ab0404 !important;
}
/*ICONO*/
.ui-button-icon-left{
    font-size: 1.5em !important;
}