<p-tabView orientation="left" styleClass="tabViewCustom" *ngIf="!contenedorBusquedaProducto">
    <p-tabPanel header="{{'info.personal' | translate}}">
        <form [formGroup]="userform" (ngSubmit)="guardarUsuario()">
            <div class="ui-fluid divDataApartado">
                <div class="">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-g-12">
                            <h3>{{'editar.info.pers' | translate}}</h3>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'nombre' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="name" (keyup)="form()"/>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="{{'nombre.obligatorio' | translate}}" *ngIf="!userform.controls['name'].valid&&userform.controls['name'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'apellido' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="lastname"/>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Apellido Obligatorio" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'nacimiento' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-inputMask mask="99/99/9999" formControlName="date" placeholder="31/12/2020" slotChar="dd/mm/aaaa"></p-inputMask>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" [text]="userform.controls['date'].errors['required'] ? 'Fecha Nacimiento Obligatoria' : userform.controls['date'].errors['minlength'] ? 'Must be longer than 6 characters' : ''" 
                                        *ngIf="!userform.controls['date'].valid&&userform.controls['date'].dirty"></p-message>
                                </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'email' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="email"/>
                            </div>
                            <div class="ui-grid-col-4">
                            <p-message severity="error" [text]="userform.controls['email'].errors['required'] ? 'Email Obligatoria' : userform.controls['email'].errors['minlength'] ? 'Must be longer than 6 characters' : ''" 
                                    *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'telefono' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="phone" placeholder="Required - Min(6)"/>
                            </div>
                            <div class="ui-grid-col-4">
                            <p-message severity="error" [text]="userform.controls['phone'].errors['required'] ? 'Telefono Obligatorio' : userform.controls['phone'].errors['minlength'] ? 'Debe tener al menos 9 dígitos' : ''" 
                                    *ngIf="!userform.controls['phone'].valid&&userform.controls['phone'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'genero' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="genders" formControlName="gender" name="generoSelected"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Género Obligatorio" *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-6">
                                <button pButton type="submit" label="{{'guardar' | translate}}" [disabled]="!userform.valid"></button>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                        <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                            Form Submitted
                            <br>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </p-tabPanel>


    <p-tabPanel header="{{'foto.perfil' | translate}}">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
            <div class="divDataApartado" style="margin: 10px 0px;">
                <div class="ui-g-12">
                    <h3>{{'editar.foto.perfil' | translate}}</h3>
                </div>
                <div style="text-align: center;">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-3"></div>
                        <div class="ui-grid-col-6">
                            <div class="form-group divMensajeFotoSubida">
                                <p-messages [(value)]="msgs"></p-messages>
                             </div>
                            <!-- <div *ngIf="fileUploadProgress != 0">
                                <p-progressBar [value]="fileUploadProgress"></p-progressBar>
                            </div> -->
                            <div class="image-preview mb-3" *ngIf="previewUrl">
                                <img [src]="previewUrl" height="300" class="imagenPerfil"/>                 
                            </div>
                 
                            <div class="mb-3" *ngIf="uploadedFilePath">
                                {{uploadedFilePath}}
                            </div>
                             <!-- BOTON ELEGIR FOTO -->
                            <div class="form-group divBotonElegirFoto" *ngIf="!fileData">
                                <!-- <input type="file" name="image" (change)="fileProgress($event)" /> -->
                                <p-fileUpload mode="basic" name="demo[]" customUpload="true" accept="image/*" maxFileSize="1000000" (onUpload)="fileProgress($event)"
                                (onSelect)="onUpload($event)" chooseLabel="{{'elegir' | translate}}"></p-fileUpload>
                            </div>
                            <!-- BOTON SUBIR FOTO -->
                            <div class="form-group divBotonSubirFoto" *ngIf="fileData">
                                <button pButton label="{{'cancelar' | translate}}" [disabled]="!fileData" (click)="removeFileData()" class="botonCancelarFoto" icon="pi pi-times"></button>
                                <button pButton label="{{'subir.foto' | translate}}" [disabled]="!fileData" (click)="onProfileImageSubmit()" icon="pi pi-upload"></button>
                            </div>
                        </div>
                        <div class="ui-grid-col-3"></div>
                    </div>
                </div>
            </div>
        </div>

    </p-tabPanel>


    <p-tabPanel header="{{'direccion.entrega' | translate}}">
        <form [formGroup]="adressform" (ngSubmit)="guardarDireccion()">
            <div class="ui-fluid divDataApartado">
                <div class="">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-g-12">
                            <h3>{{'editar.direccion' | translate}}</h3>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'nombre.destinatario' | translate}}*:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="destinatari"/>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Destinatario Obligatorio" *ngIf="!adressform.controls['destinatari'].valid&&adressform.controls['destinatari'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'calle' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="street"/>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Calle Obligatoria" *ngIf="!adressform.controls['street'].valid&&adressform.controls['street'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'portal' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="number" formControlName="streetNum"/>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Num Calle Obligatorio" *ngIf="!adressform.controls['streetNum'].valid&&adressform.controls['streetNum'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'datos.adicionales' | translate}} :
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="aditionalData"/>
                            </div>
                            <div class="ui-grid-col-4">
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'cod.postal' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="postCode" placeholder="Required - Min(6)"/>
                            </div>
                            <div class="ui-grid-col-4">
                            <p-message severity="error" [text]="adressform.controls['postCode'].errors['required'] ? 'Código Postal Obligatorio' : adressform.controls['postCode'].errors['minlength'] ? 'Must be longer than 6 characters' : ''" 
                                    *ngIf="!adressform.controls['postCode'].valid&&adressform.controls['postCode'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'localidad' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown [options]="countryList" optionLabel="city" formControlName="locality" [filter]="true"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <p-message severity="error" text="Localidad Obligatoria" *ngIf="!adressform.controls['locality'].valid&&adressform.controls['locality'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2">
                                {{'telefono' | translate}} *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="phone" placeholder="Required - Min(6)"/>
                            </div>
                            <div class="ui-grid-col-4">
                            <p-message severity="error" [text]="adressform.controls['phone'].errors['required'] ? 'Telefono Obligatorio' : adressform.controls['phone'].errors['minlength'] ? 'Debe tener al menos 9 dígitos' : ''" 
                                    *ngIf="!adressform.controls['phone'].valid&&adressform.controls['phone'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="ui-grid-row customInputsData">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-6">
                                <button pButton type="submit" label="{{'guardar' | translate}}" [disabled]="!adressform.valid"></button>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                        <div style="text-align:center;margin-top:20px" *ngIf="submitted">
                            Form Submitted
                            <br>
                           
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </p-tabPanel>


    <p-tabPanel header="{{'eliminar.cuenta' | translate}}">
        <form [formGroup]="deleteAccountform" (ngSubmit)="saveAdressInfo(adressform.value)">
            <div class="ui-fluid divDataApartado">
                <div class="">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-g-12">
                            <h3>{{'eliminar.cuenta' | translate}}</h3>
                            <p class="eliminarCuentaParrafo1">{{'eliminar.cuenta.parr1' | translate}}</p>
                            <p>{{'eliminar.cuenta.pregunta' | translate}}</p>
                            <p class="eliminarCuentaParrafo2">{{'eliminar.cuenta.parr2' | translate}}
                            </p>
                        </div>
                        <div class="ui-g-12">
                            <div>
                                <textarea pInputTextarea formControlName="razones" [rows]="10" [cols]="100" class="textAreaEliminar"></textarea>
                            </div>
                        </div>
                        <div class="ui-grid-row botonEliminar">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-6">
                                <button pButton type="submit" label="{{'eliminar.cuenta.button' | translate}}" [disabled]="!adressform.valid" class="ui-button-raised ui-button-danger"></button>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </p-tabPanel>

</p-tabView>
